.card {
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  height: 450px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 10px;
}

.card:hover {
  transform: scale(1.05);
}
.card:hover .card-img-top {
  filter: brightness(90%);
}

.card-img-top {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 5px;
  margin: 10px auto;
  padding: 1.5rem;
  transition: filter 0.3s ease;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.btn-primary {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.btn-primary:hover {
  background-color: #0069d9;
}

/********************************Responsive styles&&&&&&&&&&&&&&&&&*/

@media (max-width: 768px) {
  .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .card {
    height: 420px;
  }

  .card-img-top {
    width: 60%;
  }

  .btn-primary {
    position: static;
    display: block;
    margin: 0px auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .card-text {
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
  }
}
