.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007bff;
  animation: spin 1s infinite linear;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*******************************Responsive*******************************/

@media (max-width: 576px) {
  .loading-container {
    height: 150px;
  }

  .loading-spinner {
    width: 30px;
    height: 30px;
  }
}
