.search-container {
  display: flex;
  width: 100%;
  position: relative;
  gap: 25px;
}

.search-input {
  padding: 8px 30px 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  background: orange;
  border: none;
  padding: 10px;
  cursor: pointer;
}
