.main {
  background-color: rgba(0, 0, 0, 0.1);
  min-height: 100vh; /* Ensure the background color covers the entire viewport height */
}

.heading {
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
